[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "alembic>=1.17.1",
    "dotenv>=0.9.9",
    "fastapi[standard]>=0.120.4",
    "sqlalchemy>=2.0.44",
    "uvicorn>=0.38.0",
]
